body {
    background: #eee;
    font-family: Helvetica, Tahoma, Arial;
    line-height: 1.4;
    color: #333;
    font-size: 38px;
}
@media only screen and (min-width: 400px) {
    body {
        font-size: 26px;
    }
}
@media only screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

#container {
    width: 960px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 7px;
    background: #fff;
}
#navbar, #footer {
    color: #fff;
    background: #7777aa;
    padding: 10px;
    border-radius: 3px;
}
#navbar #title {
    font-size: 200%;
    display: inline-block;
}
#navbar #menu {
    display: inline-block;
    float: right;
    margin-top: 12px;
    margin-right: 10px
}
#navbar a {
    color: white;
}
#footer a {
    color: white;
}
h1,h2,h3 {
    color: #660000;
}
#toc {
    padding-left: 30px;
    font-size: 85%;
}
#toc div {
    display: list-item;
    list-style-position: inside;
}
#toc .toc-H2 {
    padding-left: 20px;
    display: list-item;
    list-style-type: circle;
}
#toc .toc-H3 {
    padding-left: 40px;
    list-style-type: square;
}
code {
    font-weight: bold;
    padding: 2px;
    font-family: Monospace;
    font-size: 95%;
    color: #449;
}
pre {
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
    background: #e8e8e8;
}
a {
    color: #4444aa;
    text-decoration: none;
    padding: 2px;
    border-radius: 2px;
}
a:hover {
    text-decoration: underline;
}
.toggle-code {
    color: #4444aa;
    font-weiht: bold;
    cursor: pointer;
    border-radius: 3px;
    padding: 3px;
    border: 1px solid #999;
}
