<script type="text/javascript">
window.onload = function() {
	const newIssueURL = "https://github.com/cp-algorithms/cp-algorithms/issues/new";
  const issueTitle = `Problem on article "{{page.title}}"`;
	const issueBody = `
 **Article:** [{{page.title}}](${window.location.href})

**Problem:**
<!--
Describe the issue of this article in detail.
-->
`;
  var issue_a = document.getElementById("report_issue_a");
  issue_a.href = `${newIssueURL}?` + `title=${encodeURIComponent(issueTitle)}&` + `body=${encodeURIComponent(issueBody)}`;
}
</script>
{% if page.edit_url %}
<a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="md-content__button md-icon">
  {% include ".icons/material/pencil.svg" %}
</a>
<a id="report_issue_a" href="" title="Report a problem" class="md-content__button md-icon">
  {% include ".icons/material/alert.svg" %}
</a>
<a href="{{ page.edit_url | replace("/edit/", "/commits/") }}" title="Page authors" class="md-content__button md-icon">
  {% include ".icons/material/attribution.svg" %}
</a>
{% endif %}

<!-- Construct the dict of author's contribution percentage -->
{% set contribs = {} %}
{% set id_for_email = {} %}

{% for author in committers %}
  {% do contribs.setdefault(author.login, {}) %}
  {% do contribs[author.login].update({
    'name':author.login,
    'url':author.url
  }) %}
  {% for email in author.emails %}
    {% do id_for_email.__setitem__(email, author.login) %}
  {% endfor %}
{% endfor %}

{% for author in git_info.page_authors %}
  {% set id = id_for_email[author.email] if id_for_email[author.email] else author.name %}
  {% do contribs.setdefault(id, {'name':id, 'url':'#'}) %}
  {% do contribs[id].__setitem__(
    'contribution',
    contribs[id].get('contribution', 0) + author.contribution[:-1]|float
  ) %}
{% endfor %}

{% set contribs = contribs.values() |
  selectattr('contribution') |
  sort(attribute='contribution',reverse=true) %}

<!-- Date of last commit -->
<ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
{% if page.meta.git_revision_date_localized %}
  {{ lang.t("source.file.date.updated") }}:
  {{ page.meta.git_revision_date_localized }}&emsp;
{% endif %}
<!-- Tags -->
{% if page and page.meta and page.meta.e_maxx_link %}
  {% set links = page.meta.e_maxx_link %}
  {% set links = [links] if links is string else links %}
  {% for link in links %}
    {% do tags.append({'name':'From: e-maxx.ru', 'url': 'https://e-maxx.ru/algo/' + link}) %}
  {% endfor %}
{% endif %}
{% for tag in tags %}
  {% if tag.url %}
    <a href="{{ tag.url | url }}" class="md-tag">
      {{ tag.name }}
    </a>
  {% else %}
    <span class="md-tag">{{ tag.name }}</span>
  {% endif %}
{% endfor %}
</ul>

{% if not "\x3ch1" in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
{{ page.content }}

<ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
  <span class="contributors-text">Contributors:</span>
  <ul class="contributors" data-bi-name="contributors">
    {%- for user in contribs -%}
    <li><a href="{{ user.url }}" title="{{ user.name }}" data-bi-name="contributorprofile" target="_blank">{{ user.name }}</a> ({{user.contribution}}%)</li>
    {%- endfor -%}
  </ul>
</ul>
