<script type="text/javascript">
window.onload = function() {
	const newIssueURL = "https://github.com/e-maxx-eng/e-maxx-eng/issues/new";
  const issueTitle = `Problem on article "{{page.title}}"`;
	const issueBody = `
 **Article:** [{{page.title}}](${window.location.href})

**Problem:**
<!--
Describe the issue of this article in detail.
-->
`;
  var issue_a = document.getElementById("report_issue_a");
  issue_a.href = `${newIssueURL}?` + `title=${encodeURIComponent(issueTitle)}&` + `body=${encodeURIComponent(issueBody)}`;
}
</script>
{% if page.edit_url %}
<a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="md-content__button md-icon">
  {% include ".icons/material/pencil.svg" %}
</a>
<a id="report_issue_a" href="" title="Report a problem" class="md-content__button md-icon">
  {% include ".icons/material/alert.svg" %}
</a>
<a href="{{ page.edit_url | replace("/edit/", "/commits/") }}" title="Page authors" class="md-content__button md-icon">
  {% include ".icons/material/attribution.svg" %}
</a>
{% endif %}

<!-- Construct the dict of author's contribution percentage -->
{% set contribs = {} %}

{% for author in git_info.page_authors %}
  {% if contribs[author.name] %}
    {% do contribs[author.name].__setitem__(
      'contribution',
      contribs[author.name].contribution + author.contribution[:-1]|float
    ) %}
  {% else %}
    {% do contribs.__setitem__(author.name, {
      'contribution':author.contribution[:-1]|float,
      'name':author.name,
      'url':'#'
    }) %}
  {% endif %}
{% endfor %}

{% for author in committers %}
{% do contribs.setdefault(author.name, {}) %}
{% do contribs[author.name].update({
  'name':author.login,
  'url':author.url
}) %}
{% endfor %}

{% set contribs = contribs.values() |
  selectattr('contribution') |
  sort(attribute='contribution',reverse=true) %}

<!-- Date of last commit -->
<ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
  {{ lang.t("source.file.date.updated") }}:
  {{ page.meta.git_revision_date_localized }}
</ul>

{% if not "\x3ch1" in page.content %}
  <h1>{{ page.title | d(config.site_name, true)}}</h1>
{% endif %}
{{ page.content }}

<ul class="metadata page-metadata" data-bi-name="page info" lang="en-us" dir="ltr">
  <span class="contributors-text">Contributors:</span>
  <ul class="contributors" data-bi-name="contributors">
    {%- for user in contribs -%}
    <li><a href="{{ user.url }}" title="{{ user.name }}" data-bi-name="contributorprofile" target="_blank">{{ user.name }}</a> ({{user.contribution}}%)</li>
    {%- endfor -%}
  </ul>
</ul>
