[data-md-color-scheme="cpalgo"] {
  --md-primary-fg-color:        #7777aa;
  --md-primary-fg-color--light: #7777aa;
  --md-primary-fg-color--dark:  #333371;
}

[data-md-color-scheme="slate"] {
  --md-hue: 210; 
  --md-typeset-a-color: #c973d9;
}

[data-md-color-scheme="slate"] img {
  background-color: lightgray;
}

/* Move primary sidebar to the right */
.md-sidebar--primary {
  order: 100;
}

/* For proper rendering of contribution meta */
.metadata{
  list-style:none;
  padding:0;
  margin:0;
  margin-bottom: 15px;
  color: #999;
  font-size:0.85em;
}
.metadata.page-metadata .contributors-text{
  margin-right:5px
}
body[dir=rtl] .metadata.page-metadata .contributors-text{
  margin-right:0;
  margin-left:5px
}
.page-metadata .contributors{
  display:inline-block;
  list-style:none;
  margin:0!important;
  padding:0!important
}
.page-metadata .contributors li{
  display:inline-block;
  vertical-align:top;
  margin:0;
  padding:0
}

/* Visually hide latex code */
.mjx-copytext {
    font-size: 0;
}

.arithmatex{
  overflow-y: hidden !important;
}