name: Build

on: 
  push:
    branches:    
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Install mkdocs-material
        run: |
          scripts/install-mkdocs.sh
      - name: Cache Github Users
        uses: actions/cache@v3
        with:
          path: authors.json
          key: test-${{ github.event_name }}-github-users-v0.1
      - name: Build pages
        env:
          MKDOCS_GIT_COMMITTERS_BRANCH: ${{ github.ref_name }}
          MKDOCS_GIT_COMMITTERS_APIKEY: ${{ secrets.GITHUB_TOKEN }}
          MKDOCS_ENABLE_GIT_REVISION_DATE: ${{ secrets.GITHUB_TOKEN && 'True' || 'False' }}
          MKDOCS_ENABLE_GIT_COMMITTERS: ${{ secrets.GITHUB_TOKEN && 'True' || 'False' }}
        run: |
          mkdocs build --strict
      - name: Upload build pages as artifact
        uses: actions/upload-artifact@v4
        with:
          name: page-build
          path: public/
