name: Test
on: 
  push:
    branches:    
      - 'master'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Set up C++
        run: |
          sudo apt install -y --no-install-recommends build-essential
          g++ --version
      - name: Run algorithm code tests
        run: |
          ./test.sh
        working-directory: test
